.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-bg-primary);
  overflow-x: hidden;
}

.app-content {
  flex-grow: 1;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-bg-primary);

  section#contact {
    background-color: var(--color-bg-secondary);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
