.projects {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto; // центрируем
  box-sizing: border-box;
}

.projects-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #ff9800;
  margin-bottom: 30px;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
