.triangle {
	display: inline-block;
  position: relative;
  width: 3em; /* ширина элемента */ 
  height: 3em; /* высота элемента */ 
  background: currentColor; /* цвет иконки как цвет текста */ 
  border-radius: 70% 0 / 70%;
  transform: rotate(45deg);
  position: absolute;
    top: 455px;
    right: 200px;

}
.rectangle {
	width: 200px;
	height: 100px;
	background: #fff;
    position: absolute;
    top: 480px;
    right: 190px;
}

/* styles below for demonstration purposes only */
.square_under {
    background-color: #000;
  width: 65px;
  height: 5px;
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
    position:absolute;
    top: 478px;
    right: 192px;
    transform: rotate(180deg)
}