.headerBox {
	position: absolute;
	height: 40%;
	width: 100%;
    top: 0px; left: 0px; right: 0px;
	background-color: rgb(238, 238, 238);
}

.logo {
	position: absolute;
	top: 10%; left: 5%;
	height: 12%;
	width: 12%;
}

.header {
	position: absolute;
	#text-align: center;
	top: 60%; left: 30%;
	font-size: 40px;
	font-weight: bold;
}
.header2 {
	position: absolute;
	text-align: center;
	left: 0;
	font-size: 40px;
	font-weight: bold;
}

.sectionTitle {
	position: absolute;
	top: 40%; left: 6%;
	font-size: 30px;
	font-weight: bold;
}

.crumbsContainer {
	position: absolute;
	top: 45%; left: 29%
}

.crumbs {
  	padding: 1em;
}

.crumbs li {
	display: inline-flex;
	align-items: center;
}

.crumbs li:after {
	#position: absolute;
	content: ' ';
	border-top: solid 2px;
	padding: 0 0.25em 0 0.5em;
	color: #999;
	margin: 0 10px;
}

.crumbs li.last:before, .crumbs li.last:after {
	#position: absolute;
	content: '';
}

.crumb {
	font-family: sans-serif;
	font-size: 17px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
}

.activeCrumb { 
	font-family: sans-serif;
	font-size: 19px;
	text-decoration: none;
	font-weight: bold;
	color: lightgray;
}

.upper-menu__link1 {
	position: absolute;
	#padding-left: 1200px;
	top: 10%; left: 65%;
	font-family: sans-serif;
	font-size: 17px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
}

.upper-menu__link2 {
	position: absolute;
	#padding-left: 1400px;
	top: 10%; left: 75%;
	font-family: sans-serif;
	font-size: 17px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
}
.upper-menu__link3 {
	position: absolute;
	#padding-left: 1600px;
	top: 10%; left: 85%;
	font-family: sans-serif;
	font-size: 17px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
}
   
.sidenav {
	width: 4.15%;
	height: 100%;
	background: #1E1E1E;
	position: fixed;
	top: 0;
	left: 0;
}

.burger-menu__button {
	position: fixed;
	top: 28px;
	left: 12px;
	z-index: 30;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #1E1E1E;
	transition: 0.4s;
   }
 
   
   .burger-menu__lines,
   .burger-menu__lines::after,
   .burger-menu__lines::before {
	position: absolute;
	width: 27px;
	height: 0.3px;
	background-color: #fff;
   
   }
   
   .burger-menu__lines {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
   }
   
   .burger-menu__lines::before {
	content: "";
	top: -8px;
   }
   
   .burger-menu__lines::after {
	content: "";
	top: 8px;
   }
   .burger-menu_active .burger-menu__button,
   .burger-menu_active .burger-menu__lines {
	background-color: transparent;
   }
   
   
   .burger-menu_active .burger-menu__lines::before {
	top: 0;
	transform: rotate(45deg);
   }
   
   .burger-menu_active .burger-menu__lines::after {
	top: 0;
	transform: rotate(-45deg);
   }
   
   .burger-menu__nav {
	min-width: 100%;
	min-height: 100%;
	padding-top: 80px;
	position: fixed;
	z-index: 20;
	display: flex;
	flex-flow: column;
	height: 100%;
	background-color: #1E1E1E;
	overflow-y: auto;
	left: -100%;
	top:0;
	transition: 0.5s;
   }
   
   .burger-menu__nav a{
	padding: 16px;
	font-family: sans-serif;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	color: #fff;
	transition: margin .2s ease-in-out;
   }

   .burger-menu_active .burger-menu__nav {
	left: 0;
   }
   .burger-menu__link1 {
	position: absolute;
	left: 173px;
	top: 60px;
   }


.burger-menu__nav a:hover,
.burger-menu__nav a:focus{
	filter: brightness(0.7);
	margin-left: 0.5em;
	outline: none;
}



   .burger-menu__link2{
	position: absolute;
	left: 173px;
	top: 110px;
   }

   .burger-menu__link3 {
	position: absolute;
	left: 173px;
	top: 158px;
   }

   .burger-menu__link4 {
	position: absolute;
	left: 173px;
	top: 206px;
   }

   .burger-menu__link5 {
	position: absolute;
	left: 173px;
	top: 254px;
   }

   .burger-menu__link6 {
	position: absolute;
	left: 173px;
	top: 302px;
   }

   .burger-menu__link7 {
	position: absolute;
	left: 173px;
	top: 350px;
   }
   .burger-menu__link8 {
	position: absolute;
	left: 173px;
	top: 398px;
   }

   .burger-menu__link9 {
	position: absolute;
	left: 173px;
	top: 446px;
   }

   .burger-menu__link10 {
	position: absolute;
	left: 173px;
	top: 494px;
   }
