@font-face {
	font-family: Gilroy;
	src: url(../fonts/gilroy.ttf);
}
/* --------------------------------------------ШАПКА С БЛОКОМ----------------------------------------------------- */
p{
    font-family: Gilroy;
}
.headerBox{
	font-family: Gilroy;
}
.headerBox {
	position: absolute;
	height: 40%;
	width: 100%;
    top: 0px; left: 0px; right: 0px;
	background-color: rgb(238, 238, 238);
}

.logo {
	position: absolute;
	top: 10%; left: 5%;
	height: 12%;
	width: 12%;
}

.header {
	position: absolute;
	#text-align: center;
	top: 60%; left: 30%;
	font-size: 40px;
	font-weight: bold;
}
.header2 {
	position: absolute;
	#text-align: center;
	left: 0;
	font-size: 40px;
	font-weight: bold;
}

.sectionTitle {
	position: absolute;
	top: 40%; left: 6%;
	font-size: 30px;
	font-weight: bold;
}

.crumbsContainer {
	position: absolute;
	top: 54%; left: 27.5%
}

.crumbs {
    display: flex;
    align-items: center;
    margin: 0 auto;
    list-style-type: none;
}
  
.crumbs li {
	position: relative;
}

.crumbs li:not(:last-child) {
	padding-right: 40px;
	padding-left: 7px;
}

.crumbs li:after {
	position: absolute;
    content: '';
    width: 12px;
    height: 2px;
    background: #999;
    right: 9px;
    top: calc(50% - 1px);
}

.crumb {
	font-family: sans-serif;
	font-size: 17px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
}

.activeCrumb { 
	font-family: sans-serif;
	font-size: 19px;
	text-decoration: none;
	font-weight: bold;
	color: lightgray;
}

.upper-menu__link1 {
	position: absolute;
	#padding-left: 1200px;
	top: 10%; left: 65%;
	font-family: sans-serif;
	font-size: 17px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
}

.upper-menu__link2 {
	position: absolute;
	#padding-left: 1400px;
	top: 10%; left: 75%;
	font-family: sans-serif;
	font-size: 17px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
}
.upper-menu__link3 {
	position: absolute;
	#padding-left: 1600px;
	top: 10%; left: 85%;
	font-family: sans-serif;
	font-size: 17px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
}
   
.sidenav {
	position: relative;
	width: 4.15%;
	height: 100%;
	background: #1E1E1E;
	position: fixed;
	top: 0;
	left: 0;
}

.long1{
	position: absolute;
	top: 28.5%; left: 28%;
}
.long2{
	position: absolute;
	top: 40.7%; left: 28%;
}

.long3{
	position: absolute;
	top: 53%; left: 28%;
}
.long4{
	position: absolute;
	top: 77%; left: 28%;
}

.long5{
	position: absolute;
	top: 83%; left: 35%;
	color: #fff;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 13px;
}

.long6{
	position: absolute;
	top: 93%; left: 23%;
}

/* -------------------------------------МЕНЮ ЧЕРНОЕ СЛЕВА----------------------------------------------------*/
.burger-menu__button {
	position: fixed;
	top: 28px;
	left: 12px;
	z-index: 30;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #1E1E1E;
	transition: 0.4s;
   }
 
   
   .burger-menu__lines,
   .burger-menu__lines::after,
   .burger-menu__lines::before {
	position: absolute;
	width: 27px;
	height: 0.3px;
	background-color: #fff;
   
   }
   
   .burger-menu__lines {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
   }
   
   .burger-menu__lines::before {
	content: "";
	top: -8px;
   }
   
   .burger-menu__lines::after {
	content: "";
	top: 8px;
   }
   .burger-menu_active .burger-menu__button,
   .burger-menu_active .burger-menu__lines {
	background-color: transparent;
   }
   
   
   .burger-menu_active .burger-menu__lines::before {
	top: 0;
	transform: rotate(45deg);
   }
   
   .burger-menu_active .burger-menu__lines::after {
	top: 0;
	transform: rotate(-45deg);
   }
   
   .burger-menu__nav {
	min-width: 100%;
	min-height: 100%;
	padding-top: 80px;
	position: fixed;
	z-index: 20;
	display: flex;
	flex-flow: column;
	height: 100%;
	background-color: #1E1E1E;
	overflow-y: auto;
	left: -100%;
	top:0;
	transition: 0.5s;
   }
   
   .burger-menu__nav a{
	padding: 16px;
	font-family: sans-serif;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	color: #fff;
	transition: margin .2s ease-in-out;
   }

   .burger-menu_active .burger-menu__nav {
	left: 0;
   }
   .burger-menu__link1 {
	position: absolute;
	left: 173px;
	top: 60px;
   }


.burger-menu__nav a:hover,
.burger-menu__nav a:focus{
	margin-left: 0.5em;
	outline: none;
}

.burger-menu__link1:hover ~ a, .burger-menu__link2:hover ~ a,
.burger-menu__link3:hover ~ a, .burger-menu__link4:hover ~ a,
.burger-menu__link5:hover ~ a, .burger-menu__link6:hover ~ a,
.burger-menu__link7:hover ~ a, .burger-menu__link8:hover ~ a,
.burger-menu__link9:hover ~ a, .burger-menu__link10:hover ~ a{
	filter: brightness(0.7);
}

   .burger-menu__link2{
	position: absolute;
	left: 173px;
	top: 110px;
   }

   .burger-menu__link3 {
	position: absolute;
	left: 173px;
	top: 158px;
   }

   .burger-menu__link4 {
	position: absolute;
	left: 173px;
	top: 206px;
   }

   .burger-menu__link5 {
	position: absolute;
	left: 173px;
	top: 254px;
   }

   .burger-menu__link6 {
	position: absolute;
	left: 173px;
	top: 302px;
   }

   .burger-menu__link7 {
	position: absolute;
	left: 173px;
	top: 350px;
   }
   .burger-menu__link8 {
	position: absolute;
	left: 173px;
	top: 398px;
   }

   .burger-menu__link9 {
	position: absolute;
	left: 173px;
	top: 446px;
   }

   .burger-menu__link10 {
	position: absolute;
	left: 173px;
	top: 494px;
   }
/* --------------------------------------ЗАГОЛОВОК ГЛАНВОЙ СТРАНИЦЫ --------------------------------------*/


.NavLogo {
	position: absolute;
	top: 2%; left: 2%;
	height: 8%;
	width: 8%;
}

.NaviHeader {
	position: absolute;
	top: 15%; left: 28%;
	font-size: 30px;
	font-weight: bold;
}
.NaviHeaderBox{
	font-family: Gilroy;
}
   .NavRef {
	font-family: Gilroy;
	position: relative;
	text-align: center;
	top: 55%; left: 45%;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
/*-------------------МЕНЮ КВАДРАТИКИ------------------------*/

.BoxesGroup {
	
}


.BS_Square-container {
    display: block;
    position: absolute;
    width: 150px;
    height: 150px;
	left: 28%;
	top:30%;
    border: 0;
    background-color: #874CA0;
    color: #874CA0;
}

.BS_Square_ {
    color: rgb(255, 255, 255);
    position: relative;
    top: 30%;
    left:39%;
}

.text_BS_Square{
    font-family: Gilroy;
    font-weight: bold;
    font-size: 180%;
    left:45%;
}
.text1_BS_Square{
    font-family: Gilroy;
    font-size: 80%;
	opacity: 0.9;
    position: absolute;
    left:-30%;
    top:80%;
}
.text2_BS_Square{
    font-family: Gilroy;
    font-size: 80%;
	opacity: 0.9;
    position: absolute;
    left:-17%;
    top:114%;
}
.text-hover_BS_Square {     
    visibility: hidden; 
	      
}
.text-hover1_BS_Square {     
    visibility: hidden; 
	      
}
.BS_Square-container:hover .text_BS_Square{
    display: none;
}
.BS_Square-container:hover .text1_BS_Square{
    display: none;
}
.BS_Square-container:hover .text2_BS_Square{
    display: none;
}
.BS_Square-container:hover .text-hover_BS_Square {    
    visibility: visible;
	font-family: Gilroy;
    font-size: 100%;
    position: relative;
	left: -30%;
}
.BS_Square-container:hover .text-hover1_BS_Square {    
    visibility: visible;
	font-family: Gilroy;
    font-size: 100%;
    position: relative;
	left: -15%;
}

.PK_Square-container {
    display: block;
    position: absolute;
    width: 150px;
    height: 150px;
	left: 36.5%;
	top: 30%;
    border: 0;
    background-color: #4c6eb8;
    color: #4c6eb8;
}

.PK_Square_ {
    color: rgb(255, 255, 255);
    position: relative;
    top: 30%;
    left:39%;
}

.text_PK_Square{
    font-family: Gilroy;
    font-weight: bold;
    font-size: 180%;
    left:45%;
}
.text1_PK_Square{
    font-family: Gilroy;
    font-size: 80%;
	opacity: 0.9;
    position: absolute;
    left:-25%;
    top:80%;
}
.text2_PK_Square{
    font-family: Gilroy;
    font-size: 80%;
	opacity: 0.9;
    position: absolute;
    left:-14%;
    top:114%;
}
.text-hover_PK_Square {     
    visibility: hidden; 
	      
}
.text-hover1_PK_Square {     
    visibility: hidden; 
	      
}
.PK_Square-container:hover .text_PK_Square{
    display: none;
}
.PK_Square-container:hover .text1_PK_Square{
    display: none;
}
.PK_Square-container:hover .text2_PK_Square{
    display: none;
}
.PK_Square-container:hover .text-hover_PK_Square {    
    visibility: visible;
	font-family: Gilroy;
    font-size: 100%;
    position: relative;
	left: -30%;
}
.PK_Square-container:hover .text-hover1_PK_Square {    
    visibility: visible;
	font-family: Gilroy;
    font-size: 100%;
    position: relative;
	left: -15%;
}

.PR_Square-container {
    display: block;
    position: absolute;
    width: 150px;
    height: 150px;
	left: 45%; 
	top: 30%;
    border: 0;
    background-color: #000000;
    color: #000000;
}

.PR_Square_ {
    color: rgb(255, 255, 255);
    position: relative;
    top: 30%;
    left:39%;
}

.text_PR_Square{
    font-family: Gilroy;
    font-weight: bold;
    font-size: 180%;
    left:45%;
}
.text1_PR_Square{
    font-family: Gilroy;
    font-size: 80%;
	opacity: 0.9;
    position: absolute;
    left:-10%;
    top:80%;
}
.text2_PR_Square{
    font-family: Gilroy;
    font-size: 80%;
	opacity: 0.9;
    position: absolute;
    left:-20%;
    top:114%;
}
.text-hover_PR_Square {     
    visibility: hidden; 
	      
}
.text-hover1_PR_Square {     
    visibility: hidden; 
	      
}
.PR_Square-container:hover .text_PR_Square{
    display: none;
}
.PR_Square-container:hover .text1_PR_Square{
    display: none;
}
.PR_Square-container:hover .text2_PR_Square{
    display: none;
}
.PR_Square-container:hover .text-hover_PR_Square {    
    visibility: visible;
	font-family: Gilroy;
    font-size: 100%;
    position: relative;
	left: -30%;
}
.PR_Square-container:hover .text-hover1_PR_Square {    
    visibility: visible;
	font-family: Gilroy;
    font-size: 100%;
    position: relative;
	left: -15%;
}

.AB_Square-container {
    display: block;
    position: absolute;
    width: 150px;
    height: 150px;
	left: 53.5%; 
	top: 30%;
    border: 0;
    background-color: #55b432;
    color: #55b432;
}

.AB_Square_ {
    color: rgb(255, 255, 255);
    position: relative;
    top: 30%;
    left:39%;
}

.text_AB_Square{
    font-family: Gilroy;
    font-weight: bold;
    font-size: 180%;
    left:45%;
}
.text1_AB_Square{
    font-family: Gilroy;
    font-size: 80%;
	opacity: 0.9;
    position: absolute;
    left:-10%;
    top:80%;
}
.text2_AB_Square{
    font-family: Gilroy;
    font-size: 80%;
	opacity: 0.9;
    position: absolute;
    left:-20%;
    top:114%;
}
.text-hover_AB_Square {     
    visibility: hidden; 
	      
}
.text-hover1_AB_Square {     
    visibility: hidden; 
	      
}
.AB_Square-container:hover .text_AB_Square{
    display: none;
}
.AB_Square-container:hover .text1_AB_Square{
    display: none;
}
.AB_Square-container:hover .text2_AB_Square{
    display: none;
}
.AB_Square-container:hover .text-hover_AB_Square {    
    visibility: visible;
	font-family: Gilroy;
    font-size: 100%;
    position: relative;
	left: -30%;
}
.AB_Square-container:hover .text-hover1_AB_Square {    
    visibility: visible;
	font-family: Gilroy;
    font-size: 100%;
    position: relative;
	left: -15%;
}
.M_Square-container {
    display: block;
    position: absolute;
    width: 150px;
    height: 150px;
	left: 62%; 
	top: 30%;
    border: 0;
    background-color: #e38901;
    color: #e38901;
}

.M_Square_ {
    color: rgb(255, 255, 255);
    position: relative;
    top: 30%;
    left:39%;
}

.text_M_Square{
    font-family: Gilroy;
    font-weight: bold;
    font-size: 180%;
}
.text1_M_Square{
    font-family: Gilroy;
    font-size: 80%;
	opacity: 0.9;
    position: absolute;
    left:-12%;
    top:80%;
}
.text2_M_Square{
    font-family: Gilroy;
    font-size: 80%;
	opacity: 0.9;
    position: absolute;
    left:-20%;
    top:114%;
}
.text-hover_M_Square {     
    visibility: hidden; 
	      
}
.text-hover1_M_Square {     
    visibility: hidden; 
	      
}
.M_Square-container:hover .text_M_Square{
    display: none;
}
.M_Square-container:hover .text1_M_Square{
    display: none;
}
.M_Square-container:hover .text2_M_Square{
    display: none;
}
.M_Square-container:hover .text-hover_M_Square {    
    visibility: visible;
	font-family: Gilroy;
    font-size: 100%;
    position: relative;
	left: -30%;
}
.M_Square-container:hover .text-hover1_M_Square {    
    visibility: visible;
	font-family: Gilroy;
    font-size: 100%;
    position: relative;
	left: -15%;
}
/* --------------------------------------КАРТА --------------------------------------*/
#bsElements01 {
  display: none;
}
#bsShowButton01:hover {
  cursor: pointer;
}

.bs_map {
	position: absolute;
	width: 1000px; /*1000*/
    height: 1000px; /*1000*/
	left: 22%; /*22*/
	top: 50%; /*50*/
}

.map_switcher {
	position: absolute;
	width: 50px;
    height: 50px;
	left: 72%;
	top: 140%;
}
.map_cc {
	position: absolute;
	width: 50px;
    height: 50px;
	left: 32%;
	top: 125%;
}

  #bsShowButtonСС:hover {
    cursor: pointer;
  }
  #Magnifier_CC:hover {
    cursor: pointer;
  }
  #Magnifier2_CC:hover {
    cursor: pointer;
  }
.cc{
    font-family: Gilroy;
    font-weight: bold;
    text-align: 10pt;
    position: absolute;
	left: 31.5%;
	top: 130%;
}
.bs_Magnifier_СС{
    position: absolute;
	width: 500px; /*500*/
    height: 367px; /*367*/
	left: 22%; /*22*/
	top: 50%; /*50*/
}

.PermalinkOverlay {
    background: rgba(0,0,0,0.7);
    bottom: 0;
    width: 100%; /*1000*/
    height: 1100px;
    left: 0;
    position:absolute;
    right: 0;
    top: 53%;
    z-index: 1010;
}
.bs_Magnifier2_СС{
    position: absolute;
	left: 3%;
    top: 1%;
}




#bsElements02 {
  display: none;
}
#bsShowButton02:hover {
  cursor: pointer;
}

.map_switcher2 {
	position: absolute;
	width: 50px;
    height: 50px;
	left: 26%;
	top: 94%;
}

.map_switcher3 {
	position: absolute;
	width: 50px;
    height: 50px;
	left: 69%;
	top: 116%;
}





  
  .map_switcher4 {
      position: absolute;
      width: 50px;
      height: 50px;
      left: 25%;
      top: 92%;
  }
  #bsElements03 {
    display: none;
  }
  #bsShowButton03:hover {
    cursor: pointer;
  }
  .map_switcher5 {
      position: absolute;
      width: 50px;
      height: 50px;
      left: 68%;
      top: 123%;
  }

  .map_PH{
    position: absolute;
	width: 50px;
    height: 50px;
	left: 77.5%;
	top: 67%;
}

.pp{
    font-family: Gilroy;
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 75%;
	top: 72%;
}

.hh{
    font-family: Gilroy;
    font-weight: bold;
    text-align: 10pt;
    position: absolute;
	left: 77%;
	top: 75%;
}
.bs_Magnifier_PH{
    position: absolute;
	width: 500px; /*500*/
    height: 367px; /*367*/
	left: 50%;
}
#bsShowButtonPH:hover {
    cursor: pointer;
  }
.bs_Magnifier2_PH{
    position: absolute;
	width: 700px; /*1000*/
    height: 540px; /*1000*/
	left: 22%; /*22*/
	top: 15%; /*50*/
}
#Magnifier2_PH:hover {
    cursor: pointer;
  }
  
  #Magnifier_PH:hover {
    cursor: pointer;
  }


  #bsElements04 {
    display: none;
  }
  #bsShowButton04:hover {
    cursor: pointer;
  }

.map_MC{
    position: absolute;
	width: 50px;
    height: 50px;
	left: 58%;
	top: 145%;
}
.mc{
    font-family: Gilroy;
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 57%;
	top: 149%;
}
#bsShowButtonMC:hover {
    cursor: pointer;
  }
  #Magnifier_MC:hover {
    cursor: pointer;
  }
 .bs_Magnifier_MC{
    position: absolute;
	width: 500px; /*500*/
    height: 367px; /*367*/
	left: 42%;
    top: 48%;
 }
 #Magnifier2_MC:hover {
    cursor: pointer;
  }
 .bs_Magnifier2_MC{
    position: absolute;
	left: 3%;
    top: 1%;
 }
  .map_switcher6 {
      position: absolute;
      width: 50px;
      height: 50px;
      left: 20%;
      top: 117%;
  }
  #bsShowButtonCL:hover {
    cursor: pointer;
  }
  .map_CL{
    position: absolute;
	width: 50px;
    height: 50px;
	left: 65%;
	top: 145%;
  }
  .cl{
    font-family: Gilroy;
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 65%;
	top: 149%;
  }
  .bs_Magnifier_CL{
    position: absolute;
	width: 500px; /*500*/
    height: 367px; /*367*/
	left: 48%;
    top: 48%;
  }
  .bs_Magnifier2_CL{
    position: absolute;
	left: 3%;
    top: 1%;
  }
  #Magnifier_CL:hover {
    cursor: pointer;
  }
  #Magnifier2_CL:hover {
    cursor: pointer;
  }


  .lbt4_1{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 47%;
    top: 13%;
  }
  .lbt4_2{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 44%;
    top: 15%;
  }
  .lbt4_3{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 42%;
    top: 17%;
  }
  .lbt4_4{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 40%;
    top: 19%;
  }
  .lbt4_5{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 39.5%;
    top: 21%;
  }
  .lbt4_6{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 38.5%;
    top: 23%;
  }
  .lbt4_7{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 38%;
    top: 25%;
  }
  .lbt4_8{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 37.5%;
    top: 27%;
  }
  .lbt4_9{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 37%;
    top: 29%;
  }
  .lbt4_10{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 36.5%;
    top: 31%;
  }
  .lbt4_11{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 36.3%;
    top: 33%;
  }

  .lbt4_12{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 36.2%;
    top: 35%;
  }
  .lbt4_13{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 36.2%;
    top: 37%;
  }
  .lbt4_14{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 36.4%;
    top: 39%;
  }
  .lbt4_15{
    position: absolute;
    height: 207px;
    width: 300px;
	left: 47%;
    top: 43%;
  }
  .lmt4_1{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 63%;
    top: 51%;
  }
  
  .lmt4_2{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 61.1%;
    top: 53%;
  }
  .lmt4_3{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 60.7%;
    top: 55%;
  }
  .lmt4_4{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 60%;
    top: 57%;
  }
  .lmt4_5{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 59.7%;
    top: 59%;
  }
  .lmt4_6{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 60.3%;
    top: 61%;
  }
  .lmt4_7{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 60.7%;
    top: 63%;
  }

  .lmt3_1{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 55%;
    top: 55%;
  }

  .lmt3_2{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 53.7%;
    top: 57%;
  }
  .lmt3_3{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 53.7%;
    top: 59%;
  }
  .lbt3_1{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 47%;
    top: 13%;
  }
  .lbt3_2{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 43%;
    top: 15%;
  }
  .lbt3_3{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 41.7%;
    top: 17%;
  }
  .lbt3_4{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 40.3%;
    top: 19%;
  }
  .lbt3_5{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 39.3%;
    top: 21%;
  }
  .lbt3_6{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 38.7%;
    top: 23%;
  }
  .lbt3_7{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 37.9%;
    top: 25%;
  }
  .lbt3_8{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 37.2%;
    top: 27%;
  }
  .lbt3_9{
    position: absolute;
    height: 283px;
    width: 430px;
	left: 42.3%;
    top: 30.5%;
  }
  .lmt1_1{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
    height: 283px;
    width: 430px;
	left: 36%;
    top: 60%;
  }
  .lbt1_1{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 47%;
    top: 13%;
  }
  .lbt1_2{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 45%;
    top: 15%;
  }
  .lbt1_3{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 41.1%;
    top: 17%;
  }
  .lbt1_4{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 41.1%;
    top: 19%;
  }
  .lbt1_5{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 39.8%;
    top: 21%;
  }
  .lbt1_6{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 39%;
    top: 23%;
  }
  .lbt1_7{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 39%;
    top: 25%;
  }
  .lbt1_8{
    font-weight: bold;
    font-size: 3 pt;
    position: absolute;
	left: 37.5%;
    top: 27%;
  }